@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes moveLeft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes moveTop {
  from {
    top: 300px;
  }
  to {
    top: 0;
  }
}
.animation_moveTop {
  position: relative;
  overflow: hidden;
  opacity: 0;
  animation: moveTop 1s both linear, opacity 1s both linear;
}

.wrap {
  padding: 50px 12%;
  height: calc(100vh - 100px);
  font-family: "D2Coding", sans-serif;
  font-weight: 300;
  overflow-y: scroll;
}
.content_wrap {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.img_wrap {
  margin-right: 30px;
  width: 30%;
  opacity: 0;
  animation: scale 1s both linear, opacity 1s both linear;
}
.img_wrap img {
  width: 100%;
  border-radius: 50%;
}

.content {
  position: relative;
  width: 70%;
  animation: moveLeft 1s both linear, opacity 1s both linear;
}
.intro_title {
  font-size: 22px;
}
.intro_text {
  margin-top: 30px;
  font-size: 18px;
  line-height: 150%;
}
.accent1 {
  font-size: 25px;
  color: var(--text-08);
}
.accent2 {
  font-size: 25px;
  color: var(--text-09);
}

.title {
  margin: 10% 0 30px;
  font-size: 30px;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.skill_title {
  margin: 40px 0 15px;
}

.grid_wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.grid_item {
  padding: 15px;
  position: relative;
  border: 1px solid var(--border-01);
}
.grid_item::before,
.grid_item::after {
  content: "";
  box-sizing: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  width: 0;
  height: 0;
}
.grid_item::before {
  top: 0;
  left: 0;
}
.grid_item::after {
  bottom: 0;
  right: 0;
}
.grid_item:hover::before {
  width: 100%;
  height: 100%;
  border-top-color: var(--border-04);
  border-right-color: var(--border-04);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.grid_item:hover::after {
  width: 100%;
  height: 100%;
  border-bottom-color: var(--border-04);
  border-left-color: var(--border-04);
  transition: border-color 0s ease-out 0.3s, width 0.15s ease-out 0.3s,
    height 0.15s ease-out 0.45s;
}
.grid_item span {
  margin-right: 15px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--background-01);
  border-radius: 50%;
}
.grid_item div {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}
.grid_item p {
  line-height: 150%;
}

.experience_item {
  margin-bottom: 50px;
  padding-left: 60px;
  position: relative;
}
.experience_item:last-child {
  margin-bottom: 0;
}
.experience_item::after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 20px;
  bottom: 0px;
  border-left: 1px solid var(--button-06);
}
.icon {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--button-06);
}
.period {
  display: inline-block;
  margin-bottom: 15px;
  padding: 3px 5px;
  background-color: var(--background-01);
  border-radius: 15px;
  font-weight: bold;
}
.name {
  margin-bottom: 10px;
}
.name span {
  color: var(--text-03);
}

.skill_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 130px;
}

.skill_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.skill_item {
  padding: 0 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 90px;
  color: white;
  background-color: var(--background-12);
  border-radius: 0px;
  border: 1px solid var(--border-02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: 300ms ease;
}
.skill_item img {
  width: 50px;
}
.skill_item div {
  position: absolute;
  width: 200px;
  left: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: left 250ms ease, opacity 400ms ease;
  word-break: keep-all;
}
.skill_item div p {
  font-size: 13px;
  line-height: 120%;
}
.skill_item:hover {
  padding-right: 230px;
  height: 120px;
}
.skill_item:hover div {
  left: 90px;
  opacity: 1;
}
