.wrap {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 300px;
}

.profile_wrap {
  padding: 30px;
  border: 1px solid var(--border-02);
  background-color: var(--background-14);
  border-radius: 5px;
  box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.image_wrap {
  width: 100%;
  text-align: center;
}
.image_wrap img {
  width: 200px;
  border-radius: 50%;
}

.profile {
  margin-top: 15px;
}
.profile li {
  padding: 5px 0;
  font-weight: bold;
}
.profile li span {
  margin-left: 10px;
  font-weight: normal;
}
