.wrap {
  padding: 2% 5%;
  font-family: "D2Coding", sans-serif;
  font-weight: 300;
}
.title_wrap {
  margin-bottom: 20px;
}
.title_wrap h1 {
  font-size: 25px;
  color: var(--text-01);
}
.title_wrap p {
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
  color: var(--text-03);
}

.selector {
  color: var(--text-06);
  font-size: 20px;
  line-height: 150%;
}
.declarationBlock {
  margin-left: 30px;
  color: var(--text-01);
  font-size: 20px;
  line-height: 150%;
}
.declaration {
  display: flex;
}
.property {
  color: var(--text-05);
}
.value {
  margin-left: 10px;
  color: var(--text-07);
  cursor: pointer;
}
.value:hover {
  text-decoration: underline;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  outline: none;
  border: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--background-05) inset;
  -webkit-text-fill-color: var(--text-01);
}
.emailForm {
  margin-top: 3%;
}
.form_wrap {
  display: flex;
  gap: 20px;
}
.form_item {
  width: 50%;
}
.input_wrap {
  position: relative;
}
.input_wrap label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text-01);
}
.input_wrap input,
.input_wrap textarea {
  margin-bottom: 30px;
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  color: var(--text-01);
  background-color: var(--background-05);
  border: 1px solid var(--border-01);
  caret-color: var(--text-01);
  transition: all 0.3s;
}
.input_wrap input:focus,
.input_wrap textarea:focus {
  border: 1px solid var(--border-05);
}
.input_wrap textarea {
  resize: none;
  height: 272px;
  font-size: 18px;
  line-height: 150%;
}
.input_wrap span {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 14px;
  color: #ff2e2e;
}
.sendBtn {
  float: right;
  padding: 15px 50px;
  background-color: var(--button-06);
  color: var(--text-01);
  cursor: pointer;
  transition: background-color 0.3s;
}
.sendBtn:hover {
  background-color: var(--button-05);
}
