.wrap {
  padding: 30px;
  font-family: "D2Coding", sans-serif;
  font-weight: 300;
  h1 {
    margin-bottom: 30px;
  }
}

.selector {
  color: var(--css-selector);
  font-size: 25px;
  line-height: 150%;
}
.declarationBlock {
  margin-left: 30px;
  color: var(--css-declarationBlock);
  font-size: 25px;
  line-height: 150%;
}
.declaration {
  display: flex;
}
.property {
  color: var(--css-property);
}
.value {
  margin-left: 10px;
  color: var(--css-value);
  cursor: pointer;
}
.value:hover {
  text-decoration: underline;
}
