.wrap {
  padding: 30px;
  font-family: "D2Coding", sans-serif;
  font-weight: 300;
}
.title {
  margin-bottom: 30px;
}

.selector {
  color: var(--yellow);
  font-size: 25px;
  line-height: 150%;
}
.declarationBlock {
  margin-left: 30px;
  color: var(--white);
  font-size: 25px;
  line-height: 150%;
}
.declaration {
  display: flex;
}
.property {
  color: var(--blue-50);
}
.value {
  margin-left: 10px;
  color: var(--mandarin-50);
  cursor: pointer;
}
.value:hover {
  text-decoration: underline;
}
