.footer_wrap {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25px;
  background-color: var(--background-07);
  font-size: 14px;
  color: var(--icon-02);
}
.btn_wrap {
  display: flex;
  gap: 5px;
}
.icon_wrap {
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon_wrap:hover {
  background-color: var(--button-01);
}
.remote_icon_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  background-color: var(--button-02);
  cursor: pointer;
}
.remote_icon_wrap:hover {
  background-color: var(--button-04);
}

/* 반응형 */
@media all and (max-width: 563px) {
  .wrap {
    height: calc(100vh - 110px);
  }
  .delete {
    display: none;
  }
}
