.btn_wrap {
  display: flex;
  gap: 5px;
}
.icon_wrap {
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon_wrap:hover {
  background-color: var(--footer-hover-bg);
}
.remote_icon_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  background-color: var(--footer-accent-bg);
  cursor: pointer;
}
.remote_icon_wrap:hover {
  background-color: var(--footer-accent-hover-bg);
}
