@font-face {
  font-display: block;
  font-family: Source Sans Pro;
  font-weight: 300;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro300.woff2) format("woff2");
}
@font-face {
  font-display: block;
  font-family: Source Sans Pro;
  font-weight: 400;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro400.woff2) format("woff2");
}
@font-face {
  font-display: block;
  font-family: Source Sans Pro;
  font-weight: 700;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro700.woff2) format("woff2");
}

@font-face {
  font-display: block;
  font-family: D2Coding;
  font-weight: 300;
  src: url(../assets/fonts/D2Coding/D2Coding.woff2) format("woff2"),
    url(../assets/fonts/D2Coding/D2Coding.woff) format("woff");
}
@font-face {
  font-display: block;
  font-family: D2Coding;
  font-weight: 700;
  src: url(../assets/fonts/D2Coding/D2CodingBold.woff2) format("woff2"),
    url(../assets/fonts/D2Coding/D2CodingBold.woff) format("woff");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-02);
  overflow: hidden;
  transition: all 0.3s;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
