.left_btn_wrap {
  display: flex;
  align-items: center;
  gap: 15px;
}
.icon {
  margin-left: 15px;
  width: 20px;
}
.menu_items {
  display: flex;
  gap: 10px;
}
.menu_item {
  padding: 3px 10px;
  border-radius: 5px;
  cursor: default;
}
.menu_item:hover {
  background-color: var(--header-hover-bg);
}

.right_btn_wrap {
  display: flex;
}
.window_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  transition: all 0.3s;
}
.window_icon:hover {
  background-color: var(--header-hover-bg);
}
.window_icon:last-child:hover {
  background-color: red;
}
