@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveTop {
  from {
    top: 300px;
  }
  to {
    top: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--text-01);
  }
}

.wrap {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.icon_big {
  width: 30vw;
  height: 30vh;
  fill: var(--icon-01);
  animation: scale 1s both linear, opacity 1s both linear;
}

.title_wrap {
  margin-top: 30px;
}
.title_wrap h1 {
  font-size: 40px;
  overflow: hidden;
  border-right: 0.15em solid var(--text-01);
  white-space: nowrap;
  animation: typing 1.5s steps(20, end), blink-caret 0.75s step-end infinite;
}

.list_item {
  margin-top: 15px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  animation: moveTop 1s both linear, opacity 1s both linear;
}
.icon_title_wrap {
  width: 150px;
  text-align: right;
}
.icon_title {
  font-weight: normal;
  color: var(--text-04);
}

.icon_content_wrap {
  display: flex;
  align-items: center;
}
.icon_wrap {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--background-06);
}
.file {
  margin-left: 5px;
  font-size: 18px;
}

.plus {
  margin: 0 5px;
}
.icon {
  width: 20px;
  height: 20px;
}
