.main_wrap {
  margin: 34px 0 25px;
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100vh - 59px);
  background-color: var(--background-04);
}
.content_wrap {
  width: 100%;
}
.wrap {
  height: calc(100vh - 93px);
  font-family: "D2Coding", sans-serif;
  font-weight: 300;
  overflow-y: auto;
}
.wrap::-webkit-scrollbar {
  width: 15px;
}

.wrap::-webkit-scrollbar-track {
  background: transparent;
  border-left: 1px solid var(--icon-01);
}
.wrap::-webkit-scrollbar-thumb {
  background: var(--background-01);
  border-left: 1px solid var(--background-01);
}
