.main_wrap {
  margin: 34px 0 25px;
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100vh - 59px);
  background-color: var(--very-dark-gray-400);
}
.content_wrap {
  width: 100%;
}
