@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveTop {
  from {
    top: 300px;
  }
  to {
    top: 0;
  }
}

.wrap {
  margin: 2% 5%;
  color: var(--text-01);
  animation: opacity 1.5s both linear;
}
.title {
  margin-bottom: 30px;
}

.category_wrap {
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
  animation: moveTop 1s both linear;
}
.category_item {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--background-02);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.category_item:hover {
  background-color: var(--button-06);
}
.active {
  background-color: var(--button-06);
}

.items_wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  position: relative;
  animation: moveTop 1s both linear;
}
.item_wrap {
  padding: 15px;
  position: relative;
  background-color: var(--background-02);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.project_type {
  padding: 5px 0;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 100%;
  font-size: 18px;
  text-align: center;
  background-color: var(--button-06);
  transform: translate(-50%, -50%) rotate(-40deg);
}
.thumnaile_wrap {
  position: relative;
}
.img {
  width: 100%;
}
.button_wrap {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--background-04);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
.button:hover {
  background-color: var(--background-13);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.button:hover svg {
  fill: var(--background-04);
}

.text {
  margin-bottom: 15px;
  line-height: 150%;
}
.tag_name {
  margin-right: 10px;
  display: inline-block;
  line-height: 150%;
  color: var(--text-02);
}
.title_wrap {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
