.sidebar_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100%;
  background-color: var(--dark-gray-500);
}

.sidebar_header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}
.sidebar_title {
  font-weight: normal;
}
.icon_more {
  width: 14px;
  height: 14px;
}

.title_wrap {
  padding: 3px 5px;
  border-top: 1px solid var(--dark-gray-100);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content_wrap {
  padding: 2px 0 2px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
}
.content_wrap:hover {
  background-color: var(--very-dark-gray-100);
}
.link_content_wrap {
  padding: 2px 0 2px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link {
  display: block;
  border: 1px solid transparent;
}
.link:hover {
  background-color: var(--very-dark-gray-100);
}
.link:focus {
  border: 1px solid var(--blue-300);
  background-color: var(--blue-400);
}

.active {
  background-color: var(--very-dark-gray-50);
}
.active:hover {
  background-color: var(--very-dark-gray-50);
}

.icon {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}
.name {
  font-size: 13px;
}
.icon_arrow_none {
  margin-left: 20px;
}
.depth {
  padding-left: 22px;
}
.deep_depth {
  padding-left: 30px;
}
