aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-12);
}

.icon_wrap {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon_wrap:hover .icon {
  fill: var(--icon-02);
}
.icon_wrap.active {
  border-left: 3px solid var(--border-06);
}
.icon_wrap.active .icon {
  fill: var(--icon-02);
}

.icon {
  width: 23px;
  color: var(--text-03);
}
