:root {
  --text: #cccccc;
  --header-bg: #3c3c3c;
  --header-hover-bg: #454646;
  --footer-text: white;
  --footer-bg: #007acc;
  --footer-hover-bg: #1e85ca;
  --footer-accent-bg: #16825d;
  --footer-accent-hover-bg: #308b6d;
  --aside-text: #858585;
  --aside-hover-text: white;
  --aside-bg: #333333;
}

[data-theme="light"] {
  --header-bg: ;
  --header-hover-bg: ;
}
