:root {
  --text: #cccccc;
  --header-bg: #3c3c3c;
  --header-hover-bg: #4b4b4b;
  --footer-text: white;
  --footer-bg: #007acc;
  --footer-hover-bg: #1e85ca;
  --footer-accent-bg: #16825d;
  --footer-accent-hover-bg: #308b6d;
  --aside-text: #858585;
  --aside-hover-text: white;
  --aside-bg: #333333;
  --sidebar-bg: #252526;
  --sidebar-hover-bg: #2a2d2e;
  --sidebar-focus-border: #007fd4;
  --sidebar-focus-bg: rgba(0, 127, 212, 0.3);
  --sidebar-active-bg: #37373d;
  --sidebar-border: #474747;
}

[data-theme="light"] {
  --header-bg: ;
  --header-hover-bg: ;
}
