.items_wrap {
  width: 100%;
  display: flex;
  background-color: var(--background-02);
  overflow-x: auto;
}
.items_wrap::-webkit-scrollbar {
  width: 8px;
}

.items_wrap::-webkit-scrollbar-track {
  background: transparent;
  border-left: 1px solid var(--icon-01);
}
.items_wrap::-webkit-scrollbar-thumb {
  background: var(--background-01);
  border-left: 1px solid var(--background-01);
}

.item_wrap {
  padding: 7px 10px;
  display: flex;
  align-items: center;
  border-left: 1px solid var(--background-04);
  background-color: var(--background-05);
}
.item_wrap.active {
  background-color: var(--background-04);
}
.title {
  font-weight: normal;
  white-space: nowrap;
}

.icon_theme {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.icon_close_wrap {
  margin-left: 5px;
  padding: 0 4px;
  border-radius: 5px;
}
.icon_close_wrap:hover {
  background-color: var(--background-09);
}
.icon_close {
  width: 13px;
  height: 13px;
}
